<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1025984387707-g7t3a3tbm6qreu8q0f089rl3f0pcitbu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1025984387707-g7t3a3tbm6qreu8q0f089rl3f0pcitbu</string>
	<key>API_KEY</key>
	<string>AIzaSyAWLPVUaIfKBzbnlGurqQMF7eqOGwVabzI</string>
	<key>GCM_SENDER_ID</key>
	<string>1025984387707</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tipPay</string>
	<key>PROJECT_ID</key>
	<string>tip-pay-2a425</string>
	<key>STORAGE_BUCKET</key>
	<string>tip-pay-2a425.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1025984387707:ios:7a2e3a4d67a9e5fc9c20de</string>
</dict>
</plist>